@import url('./styles/_colors.css');
@import url('./styles/_variables.css');
@import url('./styles/_scrollbar.css');
@import url('./styles/_forms.css');
@import url('./styles/_typography.css');
@import url('./styles/_components.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--color-body);
  color: var(--color-text);
}

hr {
  border: 1px solid var(--color-border);
  margin: 0.75rem 0;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: var(--color-text);
}

*:focus-visible {
  outline: none;
  box-shadow: var(--focus-box-shadow);
}
